h1,h2,h3,h4,h5,h6 {
    font-weight: 700;
}
.title{
    text-transform: uppercase;
}
.subtitle{
    color: rgb(247, 111, 0);
    font-weight: 400;
}
.block{
    margin-bottom: 120px;
}
a{
    color: var(--blacki);
    text-decoration: none;
}
a:hover{
    color: var(--primario);
}
.fonte{
    font-size: 10px;
}
.ajuste{
    text-align: right;
}
.ajuste2{
    text-align: right;
}
.line{
    background-color: red;
    /*background-position: center;
    background-repeat: repeat-y;
    background-size: cover;*/
    padding: 10px 5px 40px;
}
.barco{
    display: flex;
    align-items: center;
    justify-content: center;
    /*position: absolute;
    height: 100%;
    width: 100%;*/
    z-index: 1;
}
.vasco{
    z-index: 2;
}

