h1,h2,h3,h4,h5,h6 {
    font-weight: 700;
}
.title{
    text-transform: uppercase;
}
.subtitle{
    color: rgb(247, 111, 0);
    font-weight: 400;
}
.block{
    margin-bottom: 120px;
}
a{
    color: var(--blacki);
    text-decoration: none;
}
a:hover{
    color: var(--primario);
}
.fonte{
    font-size: 10px;
}
.ajuste{
    text-align: right;
}
.ajuste2{
    text-align: right;
}

